---
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  *,
  -cppcoreguidelines-owning-memory,
  -fuchsia-*,
  -google-readability-todo,
  -google-runtime-references,
  -hicpp-uppercase-literal-suffix,
  -hicpp-use-override,
  -llvm-header-guard,
  -llvmlibc-*,
  -modernize-pass-by-value,
  -readability-magic-numbers,
  -readability-uppercase-literal-suffix
WarningsAsErrors: '*'
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle: file
...
